<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Save a Train API Search and API Book" parallel="classes" data-provider-thread-count="5">
    <test name="Save a Train API Search and API Book">
        <!-- Define your test classes here -->
        <classes>
            <class name="com.saveatrainapi.tests.BaseAPISearchTest" />
            <!--<class name="com.saveatrainapi.tests.BaseAPIBookOld" />-->
            <!-- Add more test classes as needed -->
        </classes>
    </test>

    <!-- You can add more test sections if you have multiple test configurations -->

    <!-- Configuration for generating Allure report -->

</suite>
